@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
  --main-bg-color: brown;
  font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  font-family: "Julius Sans One", sans-serif;

}

body {
  background-image: url(../src/capa.png);
  background-position: center;
  background-repeat:no-repeat ;
  background-size: 100% auto;
  background-color: black;
}

main section{
  display: none;
}
main section.pagina-2 {
  display: none;
}
main section.pagina-3 {
  display: none;
}
main section.pagina-4 {
  display: none;
}

main section.pagina-5 {
  display: none;
}

main section.pagina-6 {
  display: none;
}

main section.pagina-7 {
  display: none;
}

section.pagina-1 {
    display: block;
    background-color: #191A1B;
    border-radius: 15px;
    border-width: 1px;
    margin-top: 15%;
    margin-left: 29%;
    margin-right: 29%;
    padding-bottom: 3vw;
    padding-left: 2vw; 
    padding-right: 5vw;
    padding-top: 3vw;
    line-height: 1.5;
}

section.pagina-1 h1 {
  font-size: 3rem;
  color: white;
  padding-left: 25%;
  
}

section.pagina-1 hr {
  color: white;
  padding-bottom: 2%;
  margin-left: 4%;
}

section.pagina-1 p {
  font-size: 1.8rem;
  color: white;
  padding-left: 10%;

}

section.pagina-1 form input {
  font-size: 1.2rem;
  color: white;
  line-height: 2;
  margin-left: 10%;
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  border-width: 2px;
  border-radius: 5px;
}

section.pagina-1 form button {
  color: white;
  margin-left: 10%;
  border-width: 2px;
  padding: 4px;
  border-radius: 5px;
}


/* pagina 2 */



section.pagina-2 {
    display: block;
    background-color: #191A1B;
    border-radius: 15px;
    border-width: 1px;
    margin-top: 15%;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 3vw;
    padding-left: 2vw; 
    padding-right: 5vw;
    padding-top: 3vw;
    line-height: 1.5;
}

section.pagina-2 h1 {
  font-size: 3rem;
  color: white;
  padding-left: 20%;
 
}

section.pagina-2 hr {
  color: white;
  padding-bottom: 2%;
}

section.pagina-2 p {
  font-size: 1.8rem;
  color: white;
  padding-left: 2%;
  margin-bottom: 10%;

}


section.pagina-2 form label {
  
  font-size: 1.2rem;
  color: white;
  line-height: 2;
  margin-left: 10%;
  margin-top: 10%;
  margin-right: 5%;
  border-width: 2px;
  border-radius: 5px;
  padding: 2px;
}

section.pagina-2 form select {
  font-size: 1.2rem;
  color: white;
  padding: 2px;
  border-width: 2px;
  border-radius: 5px;
  background-color: #191A1B;
}



section.pagina-2 form button {
  color: white;
  margin-left: 10%;
  border-width: 2px;
  padding: 4px;
  border-radius: 5px;
}

/* pagina-3 */

section.pagina-3 {
    display: block;
    background-color: #191A1B;
    border-radius: 15px;
    border-width: 1px;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 3vw;
    padding-left: 2vw; 
    padding-right: 5vw;
    padding-top: 3vw;
    line-height: 1.5;
}

section.pagina-3 h1 {
  font-size: 3rem;
  color: white;
  padding-left: 30%;
  
}

section.pagina-3 hr {
  color: white;
  padding-bottom: 2%;
}

section.pagina-3 p {
  font-size: 1.8rem;
  color: white;
  padding-left: 2%;
  margin-bottom: 10%;

}

section.pagina-3 h2 {
  font-size: 2rem;
  color: white;
  padding-left: 20%;
}

section.pagina-3 form label {
  
  font-size: 1.2rem;
  color: white;
  line-height: 2;
  margin-left: 10%;
  margin-top: 10%;
  margin-right: 5%;
  border-width: 2px;
  border-radius: 5px;
  padding: 2px;
}

section.pagina-3 form select {
  font-size: 1.2rem;
  color: white;
  padding: 2px;
  border-width: 2px;
  border-radius: 5px;
  background-color: #191A1B;
}



section.pagina-3 form button {
  color: white;
  margin-left: 10%;
  border-width: 2px;
  padding: 4px;
  border-radius: 5px;
}

/* pagina-4 */

section.pagina-4 {
    display: block;
    background-color: #191A1B;
    border-radius: 15px;
    border-width: 1px;
    margin-top: 15%;
    margin-left: 32%;
    margin-right: 32%;
    padding-bottom: 3vw;
    padding-left: 2vw; 
    padding-right: 5vw;
    padding-top: 3vw;
    line-height: 1.5;
}

section.pagina-4 h1 {
  font-size: 3rem;
  color: white;
 
}

section.pagina-4 hr {
  color: white;
  padding-bottom: 2%;
}

section.pagina-4 p {
  font-size: 1.8rem;
  color: white;
  padding-left: 2%;

}



section.pagina-4 form label input[type="radio"] {
  transform: scale(2);
  line-height: 2;
  margin-left: 10%;
  margin-top: 10%;
  padding-left: 10%;
  border-width: 2px;
  border-radius: 5px;
}

section.pagina-4 form label {
  font-size: 1.2rem;
  color: white;
  
}

section.pagina-4 form button {
  color: white;
  margin-left: 10%;
  border-width: 2px;
  padding: 4px;
  border-radius: 5px;
}

/* pagina-5 */

section.pagina-5 {
    display: block;
    background-color: #191A1B;
    border-radius: 15px;
    border-width: 1px;
    margin-top: 15%;
    margin-left: 32%;
    margin-right: 32%;
    padding-bottom: 3vw;
    padding-left: 2vw; 
    padding-right: 5vw;
    padding-top: 3vw;
    line-height: 1.5;
}

section.pagina-5 h1 {
  font-size: 3rem;
  color: white;
  
}

section.pagina-5 hr {
  color: white;
  padding-bottom: 2%;
}

section.pagina-5 p {
  font-size: 1.8rem;
  color: white;
  padding-left: 2%;

}

section.pagina-5 h2 {
  font-size: 2rem;
  color: white;
  padding-left: 20%;
}

section.pagina-5 form label input[type="radio"] {
  transform: scale(2);
  line-height: 2;
  margin-left: 10%;
  margin-top: 10%;
  padding-left: 10%;
  border-width: 2px;
  border-radius: 5px;
}

section.pagina-5 form label {
  font-size: 1.2rem;
  color: white;
  
}

section.pagina-5 form button {
  color: white;
  margin-left: 10%;
  border-width: 2px;
  padding: 4px;
  border-radius: 5px;
}

/* pagina-6 */

section.pagina-6 {
    display: block;
    background-color: #191A1B;
    border-radius: 15px;
    border-width: 1px;
    margin-top: 15%;
    margin-left: 28%;
    margin-right: 28%;
    padding-bottom: 3vw;
    padding-left: 2vw; 
    padding-right: 5vw;
    padding-top: 3vw;
    line-height: 1.5;

    text-align: center; 
}


section.pagina-6 h1 {
  font-size: 3rem;
  color: white;
 
}


section.pagina-6 h3 {
  font-size: 1.8rem;
  color: white;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: left;
  padding-left: 2%;
  padding-bottom: 15px;
  font-weight: bolder;
}


section.pagina-6 hr {
  color: white;
  padding-bottom: 2%;
  
}



section.pagina-6 p {
  font-size: 1.8rem;
  color: white;
  padding-left: 2%;

 
  text-align: left; 
}



section.pagina-6 h2 {
  font-size: 2rem;
  color: white;
  padding-left: 0; 
  text-align: center;
}










section.pagina-6  button {
  color: white;
 
  margin: 20px auto 0;
  display: block;
  border-width: 2px;
  padding: 4px;
  border-radius: 5px;
}