@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
  --main-bg-color: brown;
  font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  font-family: "Julius Sans One", sans-serif;

}

main section{
            display: none;
        }

section.pagina-1 {
    display: block;
}